/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o cabeçalho */
.cabecalho {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 20px; /* Espaçamento interno */
}

.cabecalho-lista {
    list-style-type: none; /* Remove os marcadores de lista */
}

.cabecalho-lista-item {
    display: inline-block; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

/* Estilo para a seção Havit Store */
.Havit_Store {
    background-color: #f4f4f4; /* Cor de fundo da seção */
    padding: 20px; /* Espaçamento interno */
}

/* Estilo para a seção de produtos */
.Produtos {
    background-color: #fff; /* Cor de fundo da seção */
    padding: 20px; /* Espaçamento interno */
}

.Produtos-titulo {
    margin-bottom: 20px; /* Espaçamento inferior */
}

.Produtos-todos {
    display: flex; /* Exibe os produtos em linha */
    flex-wrap: wrap; /* Quebra para a próxima linha quando não houver espaço suficiente */
    justify-content: space-between; /* Distribui os produtos igualmente ao longo da linha */
}

.Produtos-div {
    flex-basis: calc(33.33% - 20px); /* Define a largura do item para ocupar 1/3 do espaço disponível */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.Produtos-imagem {
    width: 100%; /* Garante que a imagem preencha completamente o contêiner */
}

.Produtos-nome {
    text-align: center; /* Centraliza o texto */
}

/* Estilo para o rodapé */
.rodape {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

